In [78]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('../data/Europe Hotel Booking Satisfaction Score.csv')

df.head()

,id,Gender,Age,purpose_of_travel,Type of Travel,Type Of Booking,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,satisfaction
0,70172,Male,13,aviation,Personal Travel,Not defined,3,4,3,1,5,5,5,4,5,5,neutral or dissatisfied
1,5047,Male,25,tourism,Group Travel,Group bookings,3,2,3,3,1,1,1,1,4,1,neutral or dissatisfied
2,110028,Female,26,tourism,Group Travel,Group bookings,2,2,2,2,5,5,5,4,4,5,satisfied
3,24026,Female,25,tourism,Group Travel,Group bookings,2,5,5,5,2,2,2,1,4,2,neutral or dissatisfied
4,119299,Male,61,aviation,Group Travel,Group bookings,3,3,3,3,4,5,3,3,3,3,satisfied

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              103904 non-null  int64
 1   Gender                          103904 non-null  object
 2   Age                             103904 non-null  int64
 3   purpose_of_travel               103904 non-null  object
 4   Type of Travel                  103904 non-null  object
 5   Type Of Booking                 103904 non-null  object
 6   Hotel wifi service              103904 non-null  int64
 7   Departure/Arrival  convenience  103904 non-null  int64
 8   Ease of Online booking          103904 non-null  int64
 9   Hotel location                  103904 non-null  int64
 10  Food and drink                  103904 non-null  int64
 11  Stay comfort                    103904 non-null  int64
 12  Common Room entertainment       103904 non-null  int64
 13  Checkin/Checkout service        103904 non-null  int64
 14  Other service                   103904 non-null  int64
 15  Cleanliness                     103904 non-null  int64
 16  satisfaction                    103904 non-null  object
dtypes: int64(12), object(5)
memory usage: 13.5+ MB

In [80]:
df['Age'].describe()

count    103904.000000
mean         39.379706
std          15.114964
min           7.000000
25%          27.000000
50%          40.000000
75%          51.000000
max          85.000000
Name: Age, dtype: float64

In [81]:
df = df.drop('id', axis = 1, errors = 'ignore')

df.head()

,Gender,Age,purpose_of_travel,Type of Travel,Type Of Booking,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,satisfaction
0,Male,13,aviation,Personal Travel,Not defined,3,4,3,1,5,5,5,4,5,5,neutral or dissatisfied
1,Male,25,tourism,Group Travel,Group bookings,3,2,3,3,1,1,1,1,4,1,neutral or dissatisfied
2,Female,26,tourism,Group Travel,Group bookings,2,2,2,2,5,5,5,4,4,5,satisfied
3,Female,25,tourism,Group Travel,Group bookings,2,5,5,5,2,2,2,1,4,2,neutral or dissatisfied
4,Male,61,aviation,Group Travel,Group bookings,3,3,3,3,4,5,3,3,3,3,satisfied

In [82]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(df['satisfaction'])
df['satisfaction'] = encoder.transform(df['satisfaction'])

df.head()

,Gender,Age,purpose_of_travel,Type of Travel,Type Of Booking,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,satisfaction
0,Male,13,aviation,Personal Travel,Not defined,3,4,3,1,5,5,5,4,5,5,0
1,Male,25,tourism,Group Travel,Group bookings,3,2,3,3,1,1,1,1,4,1,0
2,Female,26,tourism,Group Travel,Group bookings,2,2,2,2,5,5,5,4,4,5,1
3,Female,25,tourism,Group Travel,Group bookings,2,5,5,5,2,2,2,1,4,2,0
4,Male,61,aviation,Group Travel,Group bookings,3,3,3,3,4,5,3,3,3,3,1

In [83]:
df_dummies = pd.get_dummies(df[['Gender', 'purpose_of_travel', 'Type of Travel', 'Type Of Booking']])

df = df.drop(['Gender', 'purpose_of_travel', 'Type of Travel', 'Type Of Booking'], axis = 1, errors = 'ignore')

df.head()

,Age,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,satisfaction
0,13,3,4,3,1,5,5,5,4,5,5,0
1,25,3,2,3,3,1,1,1,1,4,1,0
2,26,2,2,2,2,5,5,5,4,4,5,1
3,25,2,5,5,5,2,2,2,1,4,2,0
4,61,3,3,3,3,4,5,3,3,3,3,1

In [84]:
# MinMaxScaler
from sklearn.preprocessing import MinMaxScaler, StandardScaler

y = df['satisfaction']
df = df.drop('satisfaction', axis = 1, errors = 'ignore')
col = df.columns

MinMax_scaler = MinMaxScaler()
MinMax_scaler.fit(df)
Standard_scaler = StandardScaler()
Standard_scaler.fit(df)

MinMax_df = pd.DataFrame(MinMax_scaler.transform(df), columns = col)
Standard_df = pd.DataFrame(Standard_scaler.transform(df), columns = col)

MinMax_df = pd.concat([MinMax_df, df_dummies], axis = 1)
Standard_df = pd.concat([Standard_df, df_dummies], axis = 1)
df = pd.concat([df, df_dummies], axis = 1)

In [85]:
MinMax_df.head()

,Age,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,...,purpose_of_travel_academic,purpose_of_travel_aviation,purpose_of_travel_business,purpose_of_travel_personal,purpose_of_travel_tourism,Type of Travel_Group Travel,Type of Travel_Personal Travel,Type Of Booking_Group bookings,Type Of Booking_Individual/Couple,Type Of Booking_Not defined
0,0.076923,0.6,0.8,0.6,0.2,1.0,1.0,1.0,0.8,1.0,...,False,True,False,False,False,False,True,False,False,True
1,0.230769,0.6,0.4,0.6,0.6,0.2,0.2,0.2,0.2,0.8,...,False,False,False,False,True,True,False,True,False,False
2,0.243590,0.4,0.4,0.4,0.4,1.0,1.0,1.0,0.8,0.8,...,False,False,False,False,True,True,False,True,False,False
3,0.230769,0.4,1.0,1.0,1.0,0.4,0.4,0.4,0.2,0.8,...,False,False,False,False,True,True,False,True,False,False
4,0.692308,0.6,0.6,0.6,0.6,0.8,1.0,0.6,0.6,0.6,...,False,True,False,False,False,True,False,True,False,False

In [86]:
Standard_df.head()

,Age,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,...,purpose_of_travel_academic,purpose_of_travel_aviation,purpose_of_travel_business,purpose_of_travel_personal,purpose_of_travel_tourism,Type of Travel_Group Travel,Type of Travel_Personal Travel,Type Of Booking_Group bookings,Type Of Booking_Individual/Couple,Type Of Booking_Not defined
0,-1.745279,0.203579,0.616172,0.173776,-1.547323,1.352264,1.183099,1.231704,0.549799,1.156436,...,False,True,False,False,False,False,True,False,False,True
1,-0.951360,0.203579,-0.695245,0.173776,0.018094,-1.656326,-1.849315,-1.769081,-1.821012,0.305848,...,False,False,False,False,True,True,False,True,False,False
2,-0.885200,-0.549533,-0.695245,-0.541060,-0.764614,1.352264,1.183099,1.231704,0.549799,0.305848,...,False,False,False,False,True,True,False,True,False,False
3,-0.951360,-0.549533,1.271880,1.603448,1.583511,-0.904178,-1.091211,-1.018885,-1.821012,0.305848,...,False,False,False,False,True,True,False,True,False,False
4,1.430397,0.203579,-0.039537,0.173776,0.018094,0.600117,1.183099,-0.268688,-0.240472,-0.544740,...,False,True,False,False,False,True,False,True,False,False

In [87]:
df.head()

,Age,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,...,purpose_of_travel_academic,purpose_of_travel_aviation,purpose_of_travel_business,purpose_of_travel_personal,purpose_of_travel_tourism,Type of Travel_Group Travel,Type of Travel_Personal Travel,Type Of Booking_Group bookings,Type Of Booking_Individual/Couple,Type Of Booking_Not defined
0,13,3,4,3,1,5,5,5,4,5,...,False,True,False,False,False,False,True,False,False,True
1,25,3,2,3,3,1,1,1,1,4,...,False,False,False,False,True,True,False,True,False,False
2,26,2,2,2,2,5,5,5,4,4,...,False,False,False,False,True,True,False,True,False,False
3,25,2,5,5,5,2,2,2,1,4,...,False,False,False,False,True,True,False,True,False,False
4,61,3,3,3,3,4,5,3,3,3,...,False,True,False,False,False,True,False,True,False,False

In [90]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(MinMax_df, y, test_size = .3, stratify = y)

clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

MinMax_pred = clf.predict(X_test)
MinMax_score = accuracy_score(y_test, MinMax_pred)

X_train, X_test, y_train, y_test = train_test_split(Standard_df, y, test_size = .3, stratify = y)

clf.fit(X_train, y_train)

Standard_pred = clf.predict(X_test)
Standard_score = accuracy_score(y_test, Standard_pred)

X_train, X_test, y_train, y_test = train_test_split(df, y, test_size = .3, stratify = y)

clf.fit(X_train, y_train)

pred = clf.predict(X_test)
score = accuracy_score(y_test, pred)

print('Basic: {:.4f}, MinMax: {:.4f}, Standard: {:.4f}'.format(score, MinMax_score, Standard_score))

Basic: 0.9218, MinMax: 0.9248, Standard: 0.9186

In [95]:
from sklearn.model_selection import cross_val_score

print('Basic: {:.4f}'.format(cross_val_score(clf, df, y, cv = 3).mean()))
print('MinMax: {:.4f}'.format(cross_val_score(clf, MinMax_df, y, cv = 3).mean()))
print('Standard: {:.4f}'.format(cross_val_score(clf, Standard_df, y, cv = 3).mean()))

Basic: 0.9223
MinMax: 0.9226
Standard: 0.9228

In [123]:
# 강사님 풀이
import pandas as pd

df = pd.read_csv('../data/Europe Hotel Booking Satisfaction Score.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 17 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              103904 non-null  int64
 1   Gender                          103904 non-null  object
 2   Age                             103904 non-null  int64
 3   purpose_of_travel               103904 non-null  object
 4   Type of Travel                  103904 non-null  object
 5   Type Of Booking                 103904 non-null  object
 6   Hotel wifi service              103904 non-null  int64
 7   Departure/Arrival  convenience  103904 non-null  int64
 8   Ease of Online booking          103904 non-null  int64
 9   Hotel location                  103904 non-null  int64
 10  Food and drink                  103904 non-null  int64
 11  Stay comfort                    103904 non-null  int64
 12  Common Room entertainment       103904 non-null  int64
 13  Checkin/Checkout service        103904 non-null  int64
 14  Other service                   103904 non-null  int64
 15  Cleanliness                     103904 non-null  int64
 16  satisfaction                    103904 non-null  object
dtypes: int64(12), object(5)
memory usage: 13.5+ MB

In [124]:
# 함수화
from sklearn.preprocessing import LabelEncoder

def preprocess(df, label_column, drop_columns = None, onehot_columns = None):
    if(drop_columns):
        df.drop(drop_columns, axis = 1, inplace = True)
    
    encoder = LabelEncoder()
    encoder.fit(df[label_column])
    df[label_column] = encoder.transform(df[label_column])

    df = pd.get_dummies(df, columns = onehot_columns)

    X = df.drop(label_column, axis = 1)
    y = df[label_column]

    return X, y

X, y = preprocess(df, 'satisfaction', ['id'], ['Gender', 'purpose_of_travel', 'Type of Travel', 'Type Of Booking'])

In [127]:
X.head()

,Age,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,...,purpose_of_travel_academic,purpose_of_travel_aviation,purpose_of_travel_business,purpose_of_travel_personal,purpose_of_travel_tourism,Type of Travel_Group Travel,Type of Travel_Personal Travel,Type Of Booking_Group bookings,Type Of Booking_Individual/Couple,Type Of Booking_Not defined
0,13,3,4,3,1,5,5,5,4,5,...,False,True,False,False,False,False,True,False,False,True
1,25,3,2,3,3,1,1,1,1,4,...,False,False,False,False,True,True,False,True,False,False
2,26,2,2,2,2,5,5,5,4,4,...,False,False,False,False,True,True,False,True,False,False
3,25,2,5,5,5,2,2,2,1,4,...,False,False,False,False,True,True,False,True,False,False
4,61,3,3,3,3,4,5,3,3,3,...,False,True,False,False,False,True,False,True,False,False

In [129]:
y[:5]

0    0
1    0
2    1
3    0
4    1
Name: satisfaction, dtype: int64

In [97]:
# id열 제거
df.drop('id', axis = 1, inplace = True, errors = 'ignore')

In [99]:
# satisfaction 열 레이블 인코딩
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['satisfaction'] = encoder.fit_transform(df['satisfaction'])

df.head(1)

,Gender,Age,purpose_of_travel,Type of Travel,Type Of Booking,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,Cleanliness,satisfaction
0,Male,13,aviation,Personal Travel,Not defined,3,4,3,1,5,5,5,4,5,5,0

In [101]:
# 원-핫 인코딩
df = pd.get_dummies(df, columns = ['Gender', 'purpose_of_travel', 'Type of Travel', 'Type Of Booking'])

In [105]:
# X, y로 데이터 분할
X = df.drop('satisfaction', axis = 1)
y = df['satisfaction']

In [120]:
# 표준화 혹은 정규화
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X)
scaled_X = scaler.transform(X)
X = pd.DataFrame(scaled_X, columns = X.columns)

X

,Age,Hotel wifi service,Departure/Arrival convenience,Ease of Online booking,Hotel location,Food and drink,Stay comfort,Common Room entertainment,Checkin/Checkout service,Other service,...,purpose_of_travel_academic,purpose_of_travel_aviation,purpose_of_travel_business,purpose_of_travel_personal,purpose_of_travel_tourism,Type of Travel_Group Travel,Type of Travel_Personal Travel,Type Of Booking_Group bookings,Type Of Booking_Individual/Couple,Type Of Booking_Not defined
0,0.076923,0.6,0.8,0.6,0.2,1.0,1.0,1.0,0.8,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.230769,0.6,0.4,0.6,0.6,0.2,0.2,0.2,0.2,0.8,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
2,0.243590,0.4,0.4,0.4,0.4,1.0,1.0,1.0,0.8,0.8,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
3,0.230769,0.4,1.0,1.0,1.0,0.4,0.4,0.4,0.2,0.8,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
4,0.692308,0.6,0.6,0.6,0.6,0.8,1.0,0.6,0.6,0.6,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,0.205128,0.4,0.2,0.4,0.6,0.4,0.4,0.4,0.4,0.6,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
103900,0.538462,0.8,0.8,0.8,0.8,0.4,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
103901,0.294872,0.2,0.2,0.2,0.6,0.8,1.0,0.8,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
103902,0.192308,0.2,0.2,0.2,1.0,0.2,0.2,0.2,1.0,0.8,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
103903,0.256410,0.2,0.6,0.6,0.6,0.2,0.2,0.2,0.8,0.6,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [121]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, stratify = y, random_state = 121)

clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression()

In [122]:
from sklearn.metrics import accuracy_score

pred = clf.predict(X_test)

print('score: {:.4f}'.format(accuracy_score(y_test, pred)))

# StandardScaler: 0.8416
# MinMaxScaler: 0.8415

score: 0.8415