##### 문자열 인덱싱과 슬라이싱

In [102]:
# 1. 문자열 인덱싱
a = "Life is too short, You need Python"
print(a[3])
print(a[-1])

e
n

In [103]:
# 2. 문자열 슬라이싱
a = "Life is too short, You need Python"
print(a[0:5])
print(a[5:7])
print(a[19:-1])

Life
is
You need Pytho

##### 문자열 포매팅

In [104]:
# 1. 숫자 바로 대입
print("I eat %d apples" % 3)

I eat 3 apples

In [105]:
# 2. 문자열 바로 대입
print("I eat %s apples" % "five")

I eat five apples

In [106]:
# 3. 숫자 값을 나타내는 변수로 대입
number = 3
print("I eat %d apples" % number)

I eat 3 apples

In [107]:
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
print("I ate %d apples. so I was sick for %s days" % (number, day))

I ate 10 apples. so I was sick for three days

##### 포맷 코드와 숫자 함께 사용하기

In [108]:
# 1. 문자열 포맷 코드
print("error is %d%%" % 98)

error is 98%

In [109]:
# 2. 정렬과 공백
print("%10s" % "hi")
print("%-10sjane." % "hi")

        hi
hi        jane.

In [110]:
# 3. 소수점 표현하기
print("%.4f" % 3.42134234)
print("%10.4f" % 3.42134234)
print("%10.4f" % 3.42134234)

3.4213
    3.4213
    3.4213

##### format 함수를 사용한 포매팅

In [111]:
# 1. 숫자 바로 대입하기
print("1. I eat {0} apples".format(3))

1. I eat 3 apples

In [112]:
# 2. 문자열 바로 대입하기
print("2. I eat {0} apples".format("five"))

2. I eat five apples

In [113]:
# 3. 숫자 값을 가진 변수로 대입하기
number = 3
print("3. I eat {0} apples".format(number))

3. I eat 3 apples

In [114]:
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
print("4. I ate {0} apples. so I was sick for {1} days".format(number, day))

4. I ate 10 apples. so I was sick for three days

In [115]:
# 5. 이름으로 넣기
print("5. I ate {number} apples. so I was sick for {day} days.".format(number = 10, day = 3))

5. I ate 10 apples. so I was sick for 3 days.

In [116]:
# 6. 인덱스와 이름을 혼용해서 넣기
print("6. I ate {0} apples. so I was sick for {day} days".format(10, day = 3))

6. I ate 10 apples. so I was sick for 3 days

In [117]:
# 7. 왼쪽 정렬
print("7. {0:<10}".format("hi"))

7. hi

In [118]:
# 8. 오른쪽 정렬
print("8. {0:>10}".format("hi"))

8.         hi

In [119]:
# 9. 가운데 정렬
print("9. {0:^10}".format("hi"))

9.     hi

In [120]:
# 10. 공백 채우기
print("10. {0:=^10}".format("hi"))

10. ====hi====

In [121]:
# 11. 소수점 표현하기
y = 3.42124234
print("11. {0:0.4f}".format(y))

11. 3.4212

In [122]:
# 12. {또는} 문자 표현하기
print("12. {{and}}".format())

12. {and}

### f 문자열 포매팅

In [123]:
# 1)
name = "홍길동"
age = 30
print(f"1. 나의 이름은 {name}입니다. 나이는 {age}입니다.")

1. 나의 이름은 홍길동입니다. 나이는 30입니다.

In [124]:
# 2)
age = 30
print(f"2. 나는 내년이면 {age + 1}살이 된다")

2. 나는 내년이면 31살이 된다

In [125]:
# 3)
d = {"name" : "홍길동", "age" : 30}
print(f"3. 나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.")

3. 나의 이름은 홍길동입니다. 나이는 30입니다.

In [126]:
# 4)
print(f'{"4. hi":<10}')

4. hi

In [127]:
# 5)
print("5." + f'{"hi":>10}')

5.        hi

In [128]:
# 6)
print("6." + f'{"hi":^10}')

6.    hi

In [129]:
# 7)
print(f'{"7. hi"}:!<10')

7. hi:!<10

In [130]:
# 8)
y = 3.42134234
print(f'8. {y:10.4f}')

8.     3.4213

In [131]:
# 9)
print(f"9. {{and}}")

9. {and}

### 문자열 관련 함수들

In [132]:
# 1) 문자 개수 세기 - count
a = "hobby"
print("1.", a.count('b'))

1. 2

In [133]:
# 2) 위치 알려주기 1 - find
a = "Python is the best choice"
print("2.", a.find("k"))

2. -1

In [134]:
# 3) 위치 알려주기 2 - index
a = "Life is too short"
print("3.", a.index("t"))

3. 8

In [135]:
# 4) 문자열 삽입 - join
print("4.", ",".join("abcd"))

4. a,b,c,d

In [136]:
# 5) 소문자를 대문자로 바꾸기 - upper
a = "hi"
print("5.", a.upper())

5. HI

In [137]:
# 6) 대문자를 소문자로 바꾸기 - lower
a = "HI"
print("6.", a.lower())

6. hi

In [138]:
# 7) 왼쪽 공백 지우기 - lstrip
a = " hi "
print("7.", a.lstrip())

7. hi

In [139]:
# 8) 오른쪽 공백 지우기 - rstrip
a = " hi "
print("8.", a.rstrip())

8.  hi

In [140]:
# 9) 양쪽 공백 지우기 - strip
a = " hi "
print("9.", a.strip())

9. hi

In [141]:
# 11) 문자열 바꾸기 - replace
a = "Life is too short"
print("11.", a.replace("Life", "Your leg"))

11. Your leg is too short

In [142]:
# 12) 문자열 나누기 - split
a = "Life is too short"
print("12.", a.split())

12. ['Life', 'is', 'too', 'short']

### List

In [143]:
# 1) 리스트의 인덱싱
a = [1, 2, 3, ['a', 'b', ['Life', 'is', 'wonderful']]]
print('1.', a[3][2][-1])

1. wonderful

In [144]:
# 2) 리스트의 슬라이싱
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print('2.', a[3][:2])

2. ['a', 'b']

In [145]:
# 3) 리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]
print('3.', a + b)

3. [1, 2, 3, 4, 5, 6]

In [146]:
# 4) 리스트 반복하기(*)
a = [1, 2, 3]
print('4.', a * 3)

4. [1, 2, 3, 1, 2, 3, 1, 2, 3]

In [147]:
# 5) 리스트 길이 구하기
a = [1, 2, 3, 4, 5]
print('5.', len(a))

5. 5

In [148]:
# 6) 리스트의 값 수정하기
a = [1, 2, 3]
a[2] = 4
print('6.', a)

6. [1, 2, 4]

In [149]:
# 7) del 함수를 사용해 리스트 요소 삭제하기
a = [1, 2, 3, 4, 5, 6]
del a[2:4]
print('7.', a)

7. [1, 2, 5, 6]

In [150]:
# 8) 리스트에 요소 추가하기 - append
a = [1, 2, 3]
a.append([5, 6])
print('8.', a)

8. [1, 2, 3, [5, 6]]

In [151]:
# 9) 리스트 정렬 - sort
a = [1, 4, 3, 2]
a.sort()
print('9.', a)

9. [1, 2, 3, 4]

In [152]:
# 10) 리스트 뒤집기 - reverse
a = ['a', 'c', 'b']
a.reverse()
print('10.', a)

10. ['b', 'c', 'a']

In [153]:
# 11) 인덱스 반환 - index
a = [1, 2, 3]
print('11.', a.index(2))

11. 1

In [154]:
# 12) 리스트에 요소 삽입 - insert
a = [1, 2, 3]
a.insert(2, 5)
print('12.', a)

12. [1, 2, 5, 3]

In [155]:
# 13) 리스트 요소 제거 - remove
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print('13.', a)

13. [1, 2, 1, 2, 3]

In [156]:
# 14) 리스트 요소 끄집어내기 - pop
a = [1, 2, 3]
a.pop()
print('14.', a)

14. [1, 2]

In [157]:
# 15) 리스트에 포함된 요소 x의 개수 세기 - count
a = [1, 2, 3, 1, 5, 1, 5, 1, 2]
print('15.', a.count(1))

15. 4

In [158]:
# 16) 리스트 확장 - extend
a = [1, 2, 3]
a.extend([4, 5])
print('16.', a)

16. [1, 2, 3, 4, 5]

##### Tuple

In [159]:
# 1) 튜플 인덱싱하기
t1 = (1, 2, 'a', 'b')
print('1.', t1[2])

1. a

In [160]:
# 2) 튜플 슬라이싱하기
t1 = (1, 2, 'a', 'b')
print('2.', t1[1:])

2. (2, 'a', 'b')

In [161]:
# 3) 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
print('3.', t3)

3. (1, 2, 'a', 'b', 3, 4)

In [162]:
# 4) 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
print('4.', t3)

4. (3, 4, 3, 4, 3, 4)

In [163]:
# 5) 튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
print('5.', len(t1))

5. 4

### Dictionary

In [164]:
# 1) 딕셔너리 쌍 추가하기
a = {1: 'a'}
a[3] = [1, 2, 3]
print('1.', a)

1. {1: 'a', 3: [1, 2, 3]}

In [165]:
# 2) 딕셔너리 요소 삭제하기
del a[1]
print('2.', a)

2. {3: [1, 2, 3]}

In [166]:
# 3) 딕셔너리에서 key를 사용해 value 얻기
grade = {'pey' : 10, 'julliet' : 99}
print('3.', grade['julliet'])

3. 99

In [167]:
# 4) 딕셔너리 만들 때 주의할 사항
a = {1 : 'a', 1 : 'b'}
# 1:'a' 쌍이 무시됨
print('4.', a)

4. {1: 'b'}

In [168]:
# 5) key 리스트 만들기 - keys
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print('5.', a.keys())

5. dict_keys(['name', 'phone', 'birth'])

In [169]:
# 6) value 리스트 만들기 - values
print('6.', a.values())

6. dict_values(['pey', '010-9999-1234', '1118'])

In [170]:
# 7) key, value 쌍 얻기 - items
print('7.', a.items())

7. dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [171]:
# 8) key: value 쌍 모두 지우기 - clear
print('8.', a.clear())

8. None

In [172]:
# 9) key로 value 얻기 - get
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print('9.', a.get('name'))
# a['nokey'] 방식은 오류를 발생
print('  ', a.get('nokey'))

9. pey
   None

In [173]:
# 10) 해당 key가 딕셔너리 안에 있는지 조사하기 - in
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print('10.', 'name' in a)
print('   ', 'email' in a)

10. True
    False

In [174]:
# 1분 코딩
a = {'name': '홍길동', 'birth': '1128', 'age': 30}
print(a)

{'name': '홍길동', 'birth': '1128', 'age': 30}

### 집합 자료형
- 중복을 허용하지 않는다: 중복을 허용하지 않는 특징 때문에 데이터의 중복을 제거하기 위한 필터로 사용
- 순서가 없다: 인덱싱을 통해 요솟값을 얻을 수 없다

In [175]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [176]:
# 1) 교집합 구하기
print('1.', s1 & s2)
print('  ', s1.intersection(s2))

1. {4, 5, 6}
   {4, 5, 6}

In [177]:
# 2) 합집합 구하기
print('2.', s1 | s2)
print('  ', s1.union(s2))

2. {1, 2, 3, 4, 5, 6, 7, 8, 9}
   {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [178]:
# 3) 차집합 구하기
print('3.', s1 - s2)
print('  ', s1.difference(s2))

3. {1, 2, 3}
   {1, 2, 3}

In [179]:
# 4) 값 1개 추가하기 - add
s1 = set([1, 2, 3])
s1.add(4)
print('4.', s1)

4. {1, 2, 3, 4}

In [180]:
# 5) 값 여러개 추가하기 - update
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
print('5.', s1)

5. {1, 2, 3, 4, 5, 6}

In [181]:
# 6) 특정값 제거하기 - remove
s1 = set([1, 2, 3])
s1.remove(2)
print('6.', s1)

6. {1, 3}

### Boolean
- True: 참을 의미
- False: 거짓을 의미
- 자료형의 참과 거짓: 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있거나 숫자 0은 거짓이 되고 비어있지 않다면 참이 된다

In [182]:
# 불연산
print(bool('python'))
print(bool(''))
print(bool(' '))
print(bool([1, 2, 3]))
print(bool([]))
print(bool(0))
print(bool(3))

True
False
True
True
False
False
True

##### 되새김 문제

In [183]:
#### 되새김 문제 ####

# Q1. 평균 점수 구하기
import numpy as np
dic = {'국어': 80, '영어': 75, '수학': 55}
value_list = list(dic.values())
print('1.', np.mean(value_list))

1. 70.0

In [184]:
#### 되새김 문제 ####

# Q2. 홀수, 짝수 판별하기
num = 13
if (num % 2) == 0:
    print('2. 짝수')
else:
    print('2. 홀수')

2. 홀수

In [185]:
#### 되새김 문제 ####

# Q3. 주민등록번호 나누기
pin = '881120-1068234'
pin_num = pin.split('-')
yyyymmdd = '19' + str(pin_num[0])
num = pin_num[1]
print('3.', yyyymmdd, num)

3. 19881120 1068234

In [186]:
#### 되새김 문제 ####

# Q4. 주민등록번호 인덱싱
pin = '881120-1068234'
print('4.', pin[7])

4. 1

In [187]:
#### 되새김 문제 ####

# Q5. 문자열 바꾸기
a = 'a:b:c:d'
b = a.replace(':', '#')
print('5.', b)

5. a#b#c#d

In [188]:
#### 되새김 문제 ####

# Q6. 리스트 역순 정렬하기
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print('6.', a)

6. [5, 4, 3, 2, 1]

In [189]:
#### 되새김 문제 ####

# Q7. 리스트를 문자열로 만들기
a = ['Life', 'is', 'too', 'short']
result = ' '.join(a)
print('7.', result)

7. Life is too short

In [190]:
#### 되새김 문제 ####

# Q8. 튜플 더하기
a = (1, 2, 3)
a = (1, 2, 3) + (4, )
print('8.', a)

8. (1, 2, 3, 4)

In [191]:
#### 되새김 문제 ####

# 9. 딕셔너리 값 추출하기
a = {'A': 90, 'B': 80, 'C': 70}
# pop method a.pop('b')
result = a['B']
print('9.', result)

9. 80

In [192]:
#### 되새김 문제 ####

# 10. 리스트에서 중복 제거하기
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print('10.', b)

10. [1, 2, 3, 4, 5]

### 조건문
- pass: 아무런 작동도 하지 않도록 설정하고 싶을 때 사용
- 조건부표현식: 변수 = 조건문이 참인 경우의 값 if 조건문 else 조건문이 거짓인 경우의 값

In [193]:
# 1)
money = 2000
if money >= 3000:
    print('1. Take a taxi')
else:
    print('1. Take a walk')

1. Take a walk

In [194]:
# 2) and, or, not
money = 2000
card = True
if money >= 3000 or card:
    print('2. Take a taxi')
else:
    print('2. Take a walk')

2. Take a taxi

In [195]:
# 3) in, not in
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print('3. Take a taxi')
else:
    print('3. Take a walk')

3. Take a taxi

In [196]:
# 4) elif
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
    print('4. Take a taxi')
elif card:
    print('4. Take a taxi')
else:
    print('4. Take a walk')

4. Take a taxi

In [197]:
# 5) 조건부 표현식
score = 30
message = 'success' if score >= 60 else 'failure'
print('5.', message)

5. failure

In [198]:
# 1분 코딩
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print('Card')

### 반복문
<pre>
list comprehension: [표현식 for 항목1 in 반복가능개체1 if 조건문1
                           for 항목2 in 반복가능개체2 if 조건문2
                           ...
                           for 항목n in 반복가능개체n if 조건문n]
</pre>

In [206]:
# 1) while
coffee = 1
money = 300
print('1. ')
while True:
    print('돈을 받았으니 커피를 줍니다')
    coffee -= 1
    print('남은 커피의 양은 %d개 입니다' %coffee)
    if coffee == 0:
        print('커피가 다 떨어졌습니다.')
        break
    else:
        continue

1.
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0개 입니다
커피가 다 떨어졌습니다.

In [207]:
# 2) 전형적인 for 문
test_list = ['one', 'two', 'three']
li = []
for i in test_list:
    li.append(i)
print('2.', li)

2. ['one', 'two', 'three']

In [208]:
# 3) 다양한 for 문의 사용
li = []
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    li.append(first + last)
print('3.', li)

3. [3, 7, 11]

In [209]:
# 4) for 문의 응용
marks = [55, 24, 15, 80, 7]
for number in range(len(marks)):
    if marks[number] <= 60:
        continue
    else:
        print('5. %d번 학생 합격입니다.' %(number + 1))

5. 4번 학생 합격입니다.

##### 되새김 문제

In [200]:
#### 되새김 문제 ####

# Q1. 3의 배수 합 구하기
result = 0
i = 1
while i <= 1000:
    if (i % 3 == 0):
        result += i
    i += 1
print(result)

166833

In [201]:
#### 되새김 문제 ####

# Q2. 별 표시하기
i = 0
while True:
    i += 1
    if (i == 6):
        break
    print('*' * i)

*
**
***
****
*****

In [202]:
#### 되새김 문제 ####

# Q3. 1부터 100까지 출력하기
li = []
for i in range(100):
    li.append(i + 1)
print(li[-5:])

[96, 97, 98, 99, 100]

In [203]:
#### 되새김 문제 ####

# Q4. 평균 점수 구하기
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
score_sum = 0
for i in score:
    score_sum += i

print(score_sum / len(score))

79.0

In [205]:
#### 되새김 문제 ####

# Q5. 리스트 컴프리헨션 사용하기
numbers = [1, 2, 3, 4, 5]
result = [i * 2 for i in numbers if i % 3 == 0]
print(result)

[6]

### 함수
<div style="display: flex;">
  <div style="flex: 1; padding: 10px;">
   <h2>함수의 구조</h2>
   <pre>
   def function_name(parameter):<br>
      sentence1<br>
      sentence2<br>
      ···
   </pre>
  </div>
  <div style="flex: 1; padding: 10px;">
    <h2>일반적인 함수</h2>
    <pre>
   def function_name(parameter):<br>
      sentence<br>
      ···<br>
      return return_value
   </pre>
  </div>
</div>

In [213]:
# 1) 리턴값이 없는 함수
def add(a, b):
    print('%d, %d의 합은 %d입니다.' %(a, b, a + b))

a = add(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [228]:
# 2) 여러 개의 입력값을 받는 함수
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *=  i
    return result

result = add_mul('add', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

In [229]:
# 2) 키워드 매개변수 - kwargs
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(name = 'poo', age = 3, gender = 'male')

{'name': 'poo', 'age': 3, 'gender': 'male'}

In [230]:
# 3) 함수의 리턴값은 언제나 하나
def add_and_mul(a, b):
    return a + b, a * b

result1, result2 = add_and_mul(3, 4)
print(add_and_mul(3, 4), result1, result2)

(7, 12) 7 12

In [236]:
# 4) 매개변수에 초깃값 미리 설정 - 초기화하고 싶은 변수는 항상 뒤쪽에
def say_myself(name, age, man = True):
    print('name :', name)
    print('age :', age)
    if man:
        print('gender : man')
    else:
        print('gender : woman')

say_myself('alice', 27)
say_myself('ben', 30, False)

name : alice
age : 27
gender : man
name : ben
age : 30
gender : woman

In [240]:
# 5) 함수 안에서 함수 밖의 변수를 변경하는 방법 - return
a = 1
def vartest(a):
    a += 1
    return a

a = vartest(a)
print(a)

2

In [241]:
# 5) 함수 안에서 함수 밖의 변수를 변경하는 방법 - global
a = 1
def vartest():
    global a
    a += 1


vartest()
print(a)

2

In [242]:
# 6) lambda 예약어
add = lambda a, b: a + b
result = add(3, 4)
print(result)

7

#### 사용자 입출력

In [244]:
# 1) input 사용
number = input('숫자를 입력하세요: ')
print(type(number), number)

<class 'str'> 3

In [245]:
# 2) 큰따옴표로 둘러싸인 문자열은 + 연산과 동일
print('Life' 'is' 'too' 'short')
print('Life' + 'is' + 'too' + 'short')

Lifeistooshort
Lifeistooshort

In [246]:
# 3) 문자열 띄어쓰기는 쉼표
print('Life', 'is', 'too', 'short')

Life is too short

In [248]:
# 4) 한 줄에 결과값 출력하기
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

##### 되새김 문제

In [252]:
##### 되새김 문제

# 1) 홀수, 짝수 판별하기
def is_odd(number):
    if (number % 2 != 0):
        return True
    else:
        return False
    

is_odd(14)

False

In [255]:
##### 되새김 문제

# 2) 모든 입력의 평균값 구하기
def avg_numbers(*args):
    result = 0
    for i in args:
        result += i
    result = result / len(args)
    return result

avg_numbers(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

5.5

### 클래스

In [260]:
# 1)
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result
    
    def sub(self, num):
        self.result -= num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3), cal1.add(4), cal2.add(3), cal2.sub(7))

3 7 3 -4

In [273]:
# 2)
class Fourcal():
    def setdata(self, number1, number2):
        self.number1 = number1
        self.number2 = number2
    def add(self):
        result = self.number1 + self.number2
        return result
    def sub(self):
        result = self.number1 - self.number2
        return result
    def mul(self):
        result = self.number1 * self.number2
        return result
    def div(self):
        result = self.number1 / self.number2
        return result
    
a = Fourcal()
a.setdata(10, 5)
print(a.add(), a.sub(), a.mul(), a.div())

15 5 50 2.0

In [274]:
# 3) 생성자 (Constructor)
class addcal():
    def __init__(self, number1, number2):
        self.number1 = number1
        self.number2 = number2
    def setdata(self, number1, number2):
        self.number1 = number1
        self.number2 = number2
    def add(self):
        result = self.number1 + self.number2
        return result
    
a = addcal(4, 2)
print(a.number1, a.number2, a.add())

4 2 6

In [278]:
# 4) 클래스의 상속 (Inheritance)
class MoreFourcal(Fourcal):
    def pow(self):
        result = self.number1 ** self.number2
        return result

a = MoreFourcal()
a.setdata(12, 4)
print(a.add(), a.sub(), a.pow())

16 8 20736

In [279]:
# 5) 메서드 오버라이딩 (Method Overriding) - 부모클래스에 있는 메서드를 동일한 이름으로 다시 만드는 것
class SafeFourcal(Fourcal):
    def div(self):
        if self.number2 == 0:
            return 0
        else:
            return self.number1 / self.number2

a = SafeFourcal()
a.setdata(10, 0)
a.div()

0

In [282]:
# 6) 클래스 변수
class Family:
    last_name = 'Kim'
    
# Family.last_name = 'Park' 
a = Family()
b = Family()
print(a.last_name, b.last_name)

Kim Kim

#### 모듈 (Module)

In [290]:
# 1) 모듈 불러오기
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_breast_cancer

#### 예외 처리

In [300]:
# 1) try - except 문
try:
    4 / 0
except ZeroDivisionError as e:
    print(e)

division by zero

In [302]:
# 2) try - finally 문
try:
    f = open('foo.txt', 'w')
finally:
    f.close()

In [304]:
# 3) 여러 개의 오류 처리하기
try:
    a = [1, 2]
    print(a[3])
    4 / 0
# except(ZeroDivisionError, IndexError) as e:
except ZeroDivisionError as e:
    print(e)
except IndexError as e:
    print(e)

list index out of range

In [306]:
# 4) try - else 문
try:
    age = int(input('your age: '))
except:
    print('Enter as a number')
else:
    if age <= 18:
        print('Off Limits')
    else:
        print('Welcome')

Welcome

In [307]:
# 5) 오류 회피하기 - 특정 오류 발생할 경우에 통과
try:
    f = open('notfile.txt', 'r')
except FileNotFoundError:
    pass

In [309]:
# 6) 오류 일부러 발생시키기 - raise
class Bird:
    def fly(self):
        raise NotImplementedError
    
class Eagle(Bird):
    pass

In [315]:
# 7) 예외 만들기 - Exception
class MyError(Exception):
    def __str__(self):
        return 'Unacceptable Nickname'

def say_nick(nick):
    if nick == 'stupid':
        raise MyError()
    print(nick)

try:
    say_nick('stupid')
except MyError as e:
    print(e)

Unacceptable Nickname

#### 내장 함수 (bulit-in Function)

In [323]:
# 1) abs - 절댓값
abs(-1.2)

1.2

In [324]:
# 2) all - 모두 참이면 True
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(all(li), end = ' ')
# all 입력 인수가 빈 값인 경우에는 True
print(all([]))

False True

In [325]:
# 3) any - 요소 중 하나라도 참이면 True
li = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
print(any(li), end = ' ')
# any 입력 인수가 빈 값인 경우에는 False
print(any([]))

True False

In [326]:
# 4) chr - 유니코드 숫자값을 입력받아 해당하는 문자를 리턴
print(chr(97), chr(44032))

a 가

In [329]:
# 5) dir - 객체가 지닌 변수나 함수를 보여주는 함수
print(dir([1, 2, 3])[:5])
print(dir({})[:5])

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__']
['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__']

In [330]:
# 6) divmod - 2개의 숫자를 나눈 몫과 나머지를 튜플로 리턴
divmod(10, 3)

(3, 1)

In [346]:
# 7) enumerate - 순서가 있는 데이터를 입력받아 인덱스 값을 포함하는 객체로 리턴
dic = {}
for i, name in enumerate(['body', 'foo', 'bar']):
    dic[i] = name 
print(dic)

{0: 'body', 1: 'foo', 2: 'bar'}

In [350]:
# 8) eval - 문자열로 구성된 표현식을 입력받아 실행한 결과값을 리턴
print(eval('1 + 2'), eval("'hi' + 'a'"))

3 hia

In [352]:
# 9) filter - 함수를 호출했을 때 리턴값이 참인 것만 묶어서 리턴
def positive(x):
    return x > 0

# list(filter(lambda x: x > 0, [1, -3, 2, 0, -5, -3, 6])))))
print(list(filter(positive, [1, -3, 2, 0, -5, -3, 6])))

[1, 2, 6]

In [353]:
# 10) hex - 정수를 입력받아 16진수 문자열로 변환하여 리턴
print(hex(234), hex(3))

0xea 0x3

In [383]:
# 11) id - 객체의 고유 주솟값을 리턴
a = 3
b = a
print(id(3), id(a), id(b))

140717510294008 140717510294008 140717510294008

In [356]:
# 12) input
a = input('Enter: ')
a

'hi'

In [382]:
# 13) int - 정수로 리턴
print(int(3), int(3.4))

3 3

In [358]:
# 14) isinstance - 객체가 클래스의 인스턴스인지를 판단하여 리턴
class Person:
    pass

a = Person()
print(isinstance(a, Person))

True

In [359]:
# 15) len - 입력값의 길이를 리턴
print(len('python'), len([1, 2, 3]), len((1, 'a')))

6 3 2

In [360]:
# 16) list - 리스트로 만들어 리턴
print(list('python'), list((1, 2, 3)))

['p', 'y', 't', 'h', 'o', 'n'] [1, 2, 3]

In [361]:
# 17) map - 입력받은 데이터의 각 요소에 함수를 적용한 결과를 리턴
def two_times(x):
    return x * 2

# list(map(lambda x: x * 2, [1, 2, 3, 4, 5, 6]))
list(map(two_times, [1, 2, 3, 4, 5, 6]))

[2, 4, 6, 8, 10, 12]

In [362]:
# 18) max - 최댓값을 리턴
print(max([4, 5, 35, 4, 26, 39]))

39

In [363]:
# 19) min - 최솟값을 리턴
print(min([4, 5, 35, 4, 26, 39]))

4

In [384]:
# 20) oct - 정수를 입력받아 8진수 문자열로 변환하여 리턴
print(oct(34), oct(12345))

0o42 0o30071

In [366]:
# 21) open - 파일객체를 리턴
try:
    f = open('binary_file', 'rb')
except FileNotFoundError as e:
    print(e)

[Errno 2] No such file or directory: 'binary_file'

In [385]:
# 22) ord - 문자의 유니코드 숫자 값을 리턴
print(ord('a'), ord('가'))

97 44032

In [386]:
# 23) pow - 제곱합 결과값을 리턴
print(pow(2, 10), pow(3, 3))

1024 27

In [370]:
# 24) range - 입력받은 숫자에 해당하는 범위 값을 리턴
print(list(range(5)))
print(list(range(5, 9)))
print(list(range(0, -5, -1)))

[0, 1, 2, 3, 4]
[5, 6, 7, 8]
[0, -1, -2, -3, -4]

In [387]:
# 25) round - 반올림해 리턴
print(round(4.5), round(5.6594, 3))

4 5.659

In [388]:
# 26) sorted - 정렬한 후 리스트로 리턴
print(sorted([3, 1, 2, 4]), sorted('zero'))

[1, 2, 3, 4] ['e', 'o', 'r', 'z']

In [389]:
# 27) str - 문자열 형태로 객체를 변환하여 리턴
print(str(3), str('hi'))

3 hi

In [390]:
# 28) sum - 합을 리턴
print(sum([1, 2, 3]), sum([4, 5, 6]))

6 15

In [391]:
# 29) tuple - 튜플로 바꾸어 리턴
print(tuple('abc'), tuple([1, 2, 3]), tuple((1, 2, 3)))

('a', 'b', 'c') (1, 2, 3) (1, 2, 3)

In [392]:
# 30) type - 입력값의 자료형을 리턴
print(type('abc'), type([]), type(open('test', 'w')))

<class 'str'> <class 'list'> <class '_io.TextIOWrapper'>

In [393]:
# 31) zip - 동일한 개수로 이루어진 데이터들을 묶어서 리턴
print(list(zip([1, 2, 3], [4, 5, 6])), list(zip([1, 2, 3], [4, 5, 6], [7, 8, 9])), list(zip('abc', 'def')))

[(1, 4), (2, 5), (3, 6)] [(1, 4, 7), (2, 5, 8), (3, 6, 9)] [('a', 'd'), ('b', 'e'), ('c', 'f')]

#### 표준 라이브러리 (library)

In [404]:
# 1) datetime.date - 연,월,일로 날짜를 표현할 때 사용
import datetime
day1 = datetime.date(2021, 8, 23)
day2 = datetime.date.today()

diff  = day2 - day1
print(diff.days, end = ' ')

day = datetime.date(2024, 7, 13)
# 0: Mon, 1: Tue, ··· 6: Sun
print(day.weekday(), end = ' ')
# 1: Mon, 2: Tue, ··· 7: Sun
print(day.isoweekday(), end = ' ')

1051 5 6

In [406]:
# 2) time.time - 19700101:00h00m00s 기준으로 현재 시간을 실수형태로 리턴
import time
time.time()

1720510748.2776415

In [413]:
# 3) time.localtime - time.time()이 리턴한 실수값을 연, 월, ··· 의 형태로 변환
time.localtime(time.time())

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=9, tm_hour=16, tm_min=41, tm_sec=24, tm_wday=1, tm_yday=191, tm_isdst=0)

In [414]:
# 4) time.asctime - time.loacltime가 리턴된 값을 날짜와 시간을 알아보기 쉬운 형태로 리턴
time.asctime(time.localtime(time.time()))

'Tue Jul  9 16:42:18 2024'

In [415]:
# 5) time.ctime - time.asctime(time.localtime(time.time()))을 간단하게 표현
time.ctime()

'Tue Jul  9 16:43:17 2024'

In [417]:
# 6) time.strftime - 시간에 관계된 것을 세밀하게 표현하는 여러가지 포맷 코드를 제공
import time
print(time.strftime('%x', time.localtime(time.time())))
print(time.strftime('%c', time.localtime(time.time())))

07/09/24
Tue Jul  9 16:55:21 2024

In [420]:
# 7) time.sleep - 일정한 시간 간격을 두고 루프를 실행
import time
li = []
for i in range(10):
    li.append(i)
    time.sleep(0.5)
print(li)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [421]:
# 8) math.gcd - 최대공약수
import math
math.gcd(60, 100, 80)

20

In [422]:
# 9) math.lcm - 최소공배수
import math
math.lcm(15, 25)

75

In [423]:
# 10) random.random - 0.0 ~ 1.0 사이의 실수 중에서 난수값을 리턴
import random
random.random()

0.7297688313029799

In [425]:
# 11) random.randint - 정수 중에서 난수값을 리턴
import random
print(random.randint(1, 10), random.randint(1, 55))

7 18

In [426]:
# 12) random.choice - 입력에서 무작위로 하나를 선택하여 리턴
def random_pop(data):
    number = random.choice(data)
    data.remove(number)
    return number

data = [1, 2, 3, 4, 5]
random_pop(data)

1

In [427]:
# 13) random.sample - 리스트의 항목을 무작위로 섞어서 리턴
import random
data = [1, 2, 3, 4, 5]
random.sample(data, 3)

[5, 2, 1]

In [428]:
# 14) itertools.zip_longest - 길이가 서로 다르면 긴 객체의 길이에 맞춰 fillvalue 값을 채워 리턴
import itertools
students = ['a', 'b', 'c', 'd', 'e']
snacks = ['1', '2', '3']
result = itertools.zip_longest(students, snacks, fillvalue = '10')
print(list(result))

[('a', '1'), ('b', '2'), ('c', '3'), ('d', '10'), ('e', '10')]

In [429]:
# 15) itertools.permutations - 순열을 리턴
import itertools
list(itertools.permutations(['1', '2', '3'], 2))

[('1', '2'), ('1', '3'), ('2', '1'), ('2', '3'), ('3', '1'), ('3', '2')]

In [434]:
# 16) itertools.combinations - 조합을 리턴
import itertools
# 중복 조합은 itertools.combinations_with_replacement
it = itertools.combinations(range(1, 46), 6)
len(list(it))

8145060

In [437]:
# 17) functools.reduce - 함수를 요소에 차례대로(왼쪽에서 오른쪽) 누적 적용하여 하나의 값으로 줄여 리턴
import functools
data = [3, 2, 8, 1, 6, 7, 14, 5, 9]
max_num = functools.reduce(lambda x, y: x if x > y else y, data)
print(max_num)

14

------------------------------------------------ 2024.07.10 -------------------------------------------------------------

In [8]:
# 18) operator.itemgetter - sorted와 같은 함수의 key 매개변수에 적용하여 다양한 기준으로 정렬
#                           리스트의 요소가 튜플이 아닌 클래스의 객체라면 attrgetter() 적용
from operator import itemgetter
students = [('jane', 22, 'A'), ('dave', 32, 'B'), ('sally', 17, 'B')]
result1 = sorted(students, key = itemgetter(1))

students = [{'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}, {'name': 'sally', 'age': 17, 'grade': 'B'}]
result2 = sorted(students, key = itemgetter('age'))

print(result1)
print(result2)

[('sally', 17, 'B'), ('jane', 22, 'A'), ('dave', 32, 'B')]
[{'name': 'sally', 'age': 17, 'grade': 'B'}, {'name': 'jane', 'age': 22, 'grade': 'A'}, {'name': 'dave', 'age': 32, 'grade': 'B'}]

In [ ]:
# 19) shutil - 파일을 복사하거나 이동할때 사용
# import shutil

# shutil.copy('a', 'b')

In [19]:
# 20) glob - 특정 디렉토리에 있는 파일 이름
import glob
glob.glob("D:/python/*")

['D:/python\\sample.ipynb']

In [ ]:
# 21) pickle - 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈
import pickle
f = open()

In [2]:
from faker import Faker
fake = Faker()
fake.name()

'Michael Johnson'

In [3]:
fake = Faker('ko-KR')
fake.name()

'류지훈'

In [5]:
fake.address()

'충청남도 의정부시 서초중앙로 (준서황리)'

In [7]:
from fractions import Fraction
import sympy
# 방정식에 사용하는 미지수를 나타내는 기호를 생성
x = sympy.symbols('x')
f = sympy.Eq(x * Fraction('2/5'), 1760)

result = sympy.solve(f)
result

[4400]

In [8]:
import sympy
x, y = sympy.symbols('x y')
f1 = sympy.Eq(x + y, 10)
f2 = sympy.Eq(x - y, 4)
sympy.solve([f1, f2])

{x: 7, y: 3}